  <div class="app">
    <div class="section is-paddingless">
      <div class="image image-mobile"></div>
      <h1 class="nav-item title name-title title-hidden"><a href="/">Shaun Willis | Full Stack Web Developer</a></h1>
      <h1 class="nav-item title-mobile name-title"><a href="tel:615-556-3930">Shaun Willis</a></h1>
      <h5 class="name-title__email"><a href="mailto:hello@shaunwillis.co">hello@shaunwillis.co</a></h5>
      <h5 class="name-title__phone"><a href="tel:615-556-3930">615-556-3930</a></h5>
      <nav class="nav nav-mobile">
        <ul class="nav-center">
          <div class="nav-mobile--menu" id="menu">
            <li class="link nav-item"><a href="#about">About</a></li>
            <li class="link nav-item"><a href="#skills">Skills</a></li>
            <li class="link nav-item"><a href="#portfolio">Portfolio</a></li>
            <li class="link nav-item"><a href="#contact">Contact</a></li>
            <li class="link nav-item"><a href="http://www.shaunwillisblog.wordpress.com">Blog</a></li>
          </div>
          <div class="fa fa-bars" id="hidebars"></div>
          <div class="fa fa-times hide-times" id="hidetimes"></div>
        </ul>
      </nav>
      <nav class="nav nav-desktop">
        <ul class="nav-center">
                <li class="link nav-item"><a href="#about">About</a></li>
                  <li class="link nav-item"><a href="#skills">Skills</a></li>
          <li class="link nav-item"><a href="#portfolio">Portfolio</a></li>
          <li class="link nav-item"><a href="#contact">Contact</a></li>
          <li class="link nav-item"><a href="http://www.shaunwillisblog.wordpress.com">Blog</a></li>
        </ul>
      </nav>
      </div>
      <a href="#about"></a>
      <div class="section section-about">
        <div class="container">
          <h2 class="title has-text-centered" id="about"></h2>
            <div class="about">
              <img class="about-img"src="./img/willisfamily-28.jpg" alt="">
              <div class="about-content">

                <p><h4 class="about-content__header">HELLO,</h4>I am a Full Stack Web Developer in <br />Murfreesboro, TN at Charter Spectrum.
                  I found my way into the tech scene after trying a few online coding schools
                   and attending an immersive coding school at The Iron Yard Academy in Nashville.
                   At Charter Spectrum, the tech stack is Ember.js and Adonis.js(Nodejs) using mysql for the database.</p>

                 <p>When I'm not on the job, I enjoy spending time with my wife and son, and serving in
                  the community. I actively volunteer with my church, Water's Edge, singing for the Saturday
                  night service and helping with the toddlers in the nursery.</p>

                <p>Currently, I'm happily employed, but open to opportunities.
                  You can email me here: hello@shaunwillis.co.
                  You can follow me on Twitter. My username is <a href="http://twitter.com/shaunwmusic">@Shaunwmusic</a>.</p>
              </div>
            </div>
        </div>
      </div>
      <!-- <div class="section">
        <a class="button button-position is-large center">View Résumé</a>
        <div class="resume">
          <i class="fa fa-times close-resume" id="hidex" aria-hidden="true"></i>
          <iframe class="pdf" id="resume" src="https://drive.google.com/file/d/0B8LYSPVaGYxQVkdveENlSUFIUVk/preview" width="100%" height="100vh"></iframe>
        </div>
        <div class="wrap">
          <a href="https://asafetynet.herokuapp.com/">
            <img src="/img/ASafetyNetGif.gif" class="gif-finalproject" alt="">
            <img src="/img/imac.png" class="imac" alt="">
          </a>
        </div>
        <div class="description finalproject-description">
          <h4 class="card has-text-centered">App built using EmberJS</h4>
          <h4 class="card has-text-centered"><a href="https://github.com/ShaunWMusic/Safety-Net">Click to view code for Front-End</a></h4>
          <h4 class="card has-text-centered"><a href="https://github.com/derrickbray/safety-net-api">Click to view code for Back-End</a></h4>
        </div>
    <div class="columns columns-portfolio is-desktop is-mobile" id="portfolio">
      <div class="column">
          <div class="control">
          <a href="http://shaunpuppyadoption.surge.sh/">
            <img class="gif gif-mobile gif-left" src="/img/puppies.gif" alt=""></a>
            <img class="iphone" src="./img/iphonepic.png" alt="">
            <div class="description">
              <h4 class="card has-text-centered">App built using Vue.js</h4>
              <h4 class="card has-text-centered">
                <a href="https://github.com/ShaunWMusic/17-puppy-adoption/tree/develop">Click to view code</a></h4>
            </div>
            <div class="card black-space-left"></div>
        </div>
      </div>
    <div class="column">
        <div class="control">
          <a href="http://shaunmonstermash.surge.sh/">
            <img class="gif gif-mobile gif-boo" src="/img/boo.gif" alt=""></a>
        <img class="iphone" src="./img/iphonepic2.png" alt="">
      <div class="description">
          <h4 class="card has-text-centered">App built using Vue.js</h4>
        <h4 class="card has-text-centered">
          <a href="https://github.com/ShaunWMusic/16-monster-mash/tree/develop">Click to view code</a></h4>
      </div>
      <div class="card black-space"></div>
      <div class="card black-space-top"></div>
      </div>
    </div>
    <div class="column">
        <div class="control">
          <a href="http://tremendous-scissors.surge.sh/">
            <img class="gif gif-mobile gif-boo" src="/img/drumkit.gif" alt=""></a>
        <img class="iphone" src="./img/iphonepic2.png" alt="">
      <div class="description">
          <h4 class="card has-text-centered">App built using Vanilla.js</h4>
        <h4 class="card has-text-centered">
          <a href="https://github.com/ShaunWMusic/JavaScript30/tree/master/01%20-%20JavaScript%20Drum%20Kit/dist">Click to view code</a></h4>
      </div>
      <div class="card black-space"></div>
      <div class="card black-space-top"></div>
      </div>
    </div>
    <div class="column">
        <div class="control">
          <a href="http://volatile-goose.surge.sh/">
            <img class="gif gif-mobile gif-boo" src="/img/clock.gif" alt=""></a>
        <img class="iphone" src="./img/iphonepic2.png" alt="">
      <div class="description">
          <h4 class="card has-text-centered">App built using Vanilla.js</h4>
        <h4 class="card has-text-centered">
          <a href="https://github.com/ShaunWMusic/JavaScript30/tree/master/02%20-%20JS%20%2B%20CSS%20Clock/dist">Click to view code</a></h4>
      </div>
      <div class="card black-space"></div>
      <div class="card black-space-top"></div>
      </div>
    </div>
      </div>
    </div> -->
    <div class="section">


      <div id="portfolio" class="wrap graybackground">
        <a target="_blank" href="http://flippinboss.com/">
          <img src="/img/flippinboss.png" alt="" class="imac">
        </a>
      <div class="description finalproject-description">
          <h4 class="has-text-centered">
            Mobile responsive website built using Wordpress(CMS), woocommerce, CSS3, HTML5, Bootstrap, PHP</h4>
        <h4 class="has-text-centered">
            Built at Titan Web Marketing Solutions</h4>
          </div>
        </div>

      <div id="portfolio" class="wrap graybackground">
        <a target="_blank" href="http://jimspaintandmore.com//">
          <img src="/img/jimpaints.png" alt="" class="imac">
        </a>
         <div class="description finalproject-description">
           <h4 class="has-text-centered">
             Mobile responsive website built using Wordpress(CMS), woocommerce, CSS3, HTML5, Bootstrap, PHP</h4>
              <h4 class="has-text-centered">
                Built at Titan Web Marketing Solutions</h4>
          </div>
        </div>

      <div class="wrap whitebackground">
        <a target="_blank" href="http://bouldercrestapts.com/">
          <img src="/img/bouldercrest.png" alt="" class="imac">
        </a>
         <div class="description finalproject-description">
           <h4 class="has-text-centered">
             Mobile responsive website built using Wordpress(CMS), CSS3, HTML5, Bootstrap, PHP</h4>
              <h4 class="has-text-centered">
                Built at Titan Web Marketing Solutions</h4>
        </div>
      </div>


      <div class="wrap whitebackground">
        <a target="_blank" href="http://charliestirestore.com/">
          <img src="/img/Charliestires.png" alt="" class="imac">
        </a>
         <div class="description finalproject-description">
           <h4 class="has-text-centered">
             Mobile responsive website built using Wordpress(CMS), CSS3, HTML5, Bootstrap, PHP</h4>
              <h4 class="has-text-centered">
                Built at Titan Web Marketing Solutions</h4>
              </div>
            </div>


              <div id="portfolio" class="wrap graybackground">
              <a target="_blank" href="https://asafetynet.herokuapp.com/">
              <img src="/img/asafetynetemailproject.png" alt="" class="imac">
              </a>
              <div class="description finalproject-description">
              <h4 class="has-text-centered">
              Mobile Responsive Web App built using EmberJS, Node.js, RESTful APIs, Leaflet.js and JWT authentication</h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/ShaunWMusic/Safety-Net">
              Click to view code for Front-End</a>
              </h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/derrickbray/safety-net-api">
              Click to view code for Back-End</a>
              </h4>
              </div>
              </div>
              <div class="wrap whitebackground">
              <a target="_blank" href="http://volatile-goose.surge.sh/">
              <img src="/img/clockdesktop.jpg" alt="" class="imac">
              </a>
              <div class="description finalproject-description">
              <h4 class="has-text-centered">
              Web App built using Vanilla Javascript</h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/ShaunWMusic/JavaScript30/tree/master/02%20-%20JS%20%2B%20CSS%20Clock/dist">
              Click to view code</a>
              </h4>
              </div>
              </div>
              <div class="wrap graybackground">
              <a target="_blank" href="http://shaunpuppyadoption.surge.sh/">
              <img src="/img/puppydesktop.jpg" alt="" class="imac">
              </a>
              <div class="description finalproject-description">
              <h4 class="has-text-centered">
              Mobile Responsive Web App built using Vue.js</h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/ShaunWMusic/17-puppy-adoption/tree/develop">
              Click to view code</a>
              </h4>
              </div>
              </div>
              <div class="wrap whitebackground">
              <a target="_blank" href="http://shaunmonstermash.surge.sh/">
              <img src="/img/monsterdesktop.jpg" alt="" class="imac">
              </a>
              <div class="description finalproject-description">
              <h4 class="has-text-centered">
              Mobile Responsive Web App built using Vue.js, Yeoman Qunit Broccoli Generator, CRUD(Create, Read, Update, Destroy)app</h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/ShaunWMusic/16-monster-mash/tree/develop">
              Click to view code</a>
              </h4>
              </div>
              </div>
              <div class="wrap graybackground">
              <a target="_blank" href="http://tremendous-scissors.surge.sh/">
              <img src="/img/drumkeys.png" alt="" class="imac">
              </a>
              <div class="description finalproject-description">
              <h4 class="has-text-centered">
              Web App built using Vanilla Javascript</h4>
              <h4 class="has-text-centered">
              <a target="_blank" href="https://github.com/ShaunWMusic/JavaScript30/tree/master/01%20-%20JavaScript%20Drum%20Kit/dist">
              Click to view code</a>
              </h4>
              </div>
              </div>
              <div class="section">
              <div class="container">
              <div id="skills" class="skills">
              <h2>
              Technologies</h2>
              <h3 class="skills-content">
                                Wordpress(CMS), Bootstrap, PHP, Laravel Valet, Ngrok, WP-CLI, EmberJS, Vue.js, Vanilla.js, Agile, ESlint, Github, Git, CSS3, HTML5, Handlebars, jQuery, NPM, SASS,

Atom, Sketch, Bulma, Adonis.js, Node.js, Babel, TravisCI, Heroku, Yeoman, FTP, SFTP, SSH, VPS,

ITerm2, Laravel(PHP), JWT, MySQL, Sqlite3, Leaflet.js, Yarn, Broccoli.js, CoffeeScript.js,

Adobe Photoshop, Adobe Illustrator, Responsive Web Design, CSS3 Flexbox Grids, Code Snippets, NGINX, RESTful APIs,

XML, AJAX, TDD</h3>
</div>
</div></div> <div class="section"><div class="container"><div class="about"><div class="contact-details has-text-centered"><h2 id="contact" class="contact">Contact</h2> <a href="tel:615-556-3930"><span class="fa fa-phone"></span></a> <a href="mailto:hello@shaunwillis.co"><span class="fa fa-envelope"></span></a></div> <div class="contact-details has-text-centered"><h2 id="contact" class="contact">Follow</h2> <a target="_blank" href="https://www.twitter.com/intent/tweet?screen_name=shaunwmusic"><span class="fa fa-twitter"></span></a> <a target="_blank" href="https://www.linkedin.com/in/shaunwillis"><span class="fa fa-linkedin"></span></a> <a target="_blank" href="https://www.github.com/shaunwmusic"><span class="fa fa-github"></span></a></div></div></div></div>

<p style="text-align: center;">©2017 Shaun Willis built using EmberJS</p></div>



    </div>
